---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Link from "@/components/Link.astro";
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
	<main
		class="flex flex-1 flex-col items-center justify-center gap-4 dark:text-white"
	>
		<h1 class="text-4xl font-black tracking-wide uppercase">404 — Not Found</h1>
		<p class="text-xl">This page doesn't exist.</p>
		<Link href="/">Go back home</Link>
	</main>
</BaseLayout>
