---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import mattSteeleIllustrated from "../assets/images/mattsteele-illustrated.png";
import mattSteeleSignature from "../assets/images/mattsteele-signature.png";
---

<BaseLayout title="About | Matt Steele" description="About Matt Steele">
	<main class="flex flex-col h-screen items-center justify-center">
		<div class="flex flex-col items-center my-96 max-w-3xl fade-in">
			<div
				class="mt-5 relative w-md h-96 bg-gray-900 dark:bg-gray-500 pt-6 pl-6"
			>
				<h2 class="text-white text-2xl uppercase mb-0.5 tracking-wide">
					Matt Steele
				</h2>
				<h3 class="text-white text-base mt-0">Software Engineer</h3>
				<Image
					class="absolute bottom-0 right-0"
					src={mattSteeleIllustrated}
					alt="Matt Steele"
					width="326"
					height="326"
				/>
			</div>

			<div class="mt-10 text-xl space-y-4 dark:text-white">
				<p>
					I build & maintain systems for designers & developers. Much of my work
					is in component libraries, tokens, application prototyping, &
					proof-of-concept work.
				</p>

				<p>
					My work is driven by User Experience (UX), Design Systems & Design
					Thinking.
				</p>

				<p>
					I currently work as a Senior Software Engineer in Denver, Colorado.
				</p>

				You can reach me <a
					class="hover:text-rose-700 dark:text-white dark:hover:text-gray-300 border-b-2 border-solid border-rose-700 dark:border-gray-300"
					href="mailto:mattsteele@outlook.com">here</a
				>.

				<div class="mt-10">
					<Image
						class="mb-4"
						src={mattSteeleSignature}
						alt="Matt Steele Signature"
						width="100"
						height="33"
					/>
					<h2 class="text-lg uppercase mt-0.5 tracking-wide">Matt Steele</h2>
				</div>
			</div>
		</div>
	</main>
</BaseLayout>
