---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import mattSteeleIllustrated from "../assets/images/mattsteele-illustrated.png";
import mattSteeleSignature from "../assets/images/mattsteele-signature.png";
import mattSteeleSignatureInverted from "../assets/images/mattsteele-signature-inverted.png";
---

<BaseLayout title="About | Matt Steele" description="About Matt Steele">
	<main
		class="flex flex-col h-screen md:my-24 my-10 items-center justify-center"
	>
		<div class="flex flex-col items-center max-w-3xl mx-6">
			<div
				class="mt-5 relative w-64 md:w-96 h-96 bg-gray-900 dark:bg-gray-500 p-6"
			>
				<h2 class="text-white text-2xl uppercase mb-1 tracking-wide">
					Matt Steele
				</h2>
				<h3 class="text-white text-base">Software Engineer</h3>
				<Image
					class="absolute bottom-0 right-0"
					src={mattSteeleIllustrated}
					alt="Illustration of Matt Steele"
					width="326"
					height="326"
				/>
			</div>

			<div class="mt-10 text-xl space-y-4 dark:text-white">
				<p>
					I specialize in creating Developer Experiences (DX) by building and
					optimizing tools, libraries, frameworks, and workflows.
				</p>

				<p>
					My work focuses on creating robust component libraries, streamlining
					application prototyping, and delivering scalable proof-of-concept
					solutions.
				</p>

				<p>I work as a Senior Software Engineer in Denver, Colorado.</p>

				<p>
					You can view my resume <a
						class="hover:text-rose-700 dark:text-white dark:hover:text-gray-300 border-b-2 border-solid border-rose-700 dark:border-gray-300"
						href="/resume">here</a
					> and reach me <a
						class="hover:text-rose-700 dark:text-white dark:hover:text-gray-300 border-b-2 border-solid border-rose-700 dark:border-gray-300"
						href="mailto:mattsteele@outlook.com">here</a
					>.
				</p>

				<div class="mt-10">
					<Image
						class="mb-4 dark:hidden"
						src={mattSteeleSignature}
						alt="Matt Steele's Signature"
						width="100"
						height="33"
					/>
					<Image
						class="mb-4 hidden dark:block"
						src={mattSteeleSignatureInverted}
						alt="Matt Steele's Signature"
						width="100"
						height="33"
					/>
					<h2 class="text-lg uppercase mt-1 tracking-wide">Matt Steele</h2>
				</div>
			</div>
		</div>
	</main>
</BaseLayout>
