---
import BaseLayout from "../layouts/BaseLayout.astro";
import Container from "../components/Container.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import mattSteeleIllustrated from "../assets/images/mattsteele-illustrated.png";
import mattSteeleSignature from "../assets/images/mattsteele-signature.png";
import mattSteeleSignatureInverted from "../assets/images/mattsteele-signature-inverted.png";
---

<BaseLayout title="About | Matt Steele" description="About Matt Steele">
	<main class="flex flex-col md:my-24 my-20">
		<Container>
		<div class="flex flex-col items-center">
			<div
				class="mt-5 relative w-full md:w-96 h-96 bg-gray-900 dark:bg-gray-500 p-6"
			>
				<h2 class="text-white text-2xl uppercase mb-1 tracking-wide">
					Matt Steele
				</h2>
				<h3 class="text-white text-base">Software Engineer</h3>
				<Image
					class="absolute bottom-0 right-0"
					src={mattSteeleIllustrated}
					alt="Illustration of Matt Steele"
					width="326"
					height="326"
				/>
			</div>

			<div class="mt-12 text-xl space-y-4 dark:text-white max-w-[1006px]">
				<p>
					I specialize in improving Developer Experience (DX) by building and
					optimizing tools, frameworks, and processes for productivity and
					growth.
				</p>

				<p>
					My work includes design systems, modular components, rapid
					prototyping, and implementing scalable proof-of-concept projects.
				</p>

				<p>I work as a Senior Software Engineer in Denver, Colorado.</p>

				<p>
					You can view my resume <Link href="/resume">here</Link>

					and I can be reached <Link href="mailto:mattsteele@outlook.com">here</Link>.
				</p>

				<div class="mt-10">
					<Image
						class="mb-4 dark:hidden"
						src={mattSteeleSignature}
						alt="Matt Steele's Signature"
						width="100"
						height="33"
					/>
					<Image
						class="mb-4 hidden dark:block"
						src={mattSteeleSignatureInverted}
						alt="Matt Steele's Signature"
						width="100"
						height="33"
					/>
					<h2 class="text-lg uppercase mt-1 tracking-wide">Matt Steele</h2>
				</div>
			</div>
		</div>
		</Container>
	</main>
</BaseLayout>
