---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
	title="Matt Steele | Software Engineer"
	description="The personal site of Matt Steele, a Senior Software Engineer specializing in Developer Experience, design systems, and scalable web applications."
>
	<main class="mx-6 flex flex-1 items-center justify-center">
		<div class="fade-in font-mono text-gray-800 dark:text-white">
			<h1 class="text-8xl uppercase">Matt Steele</h1>
			<p class="text-4xl">Software Engineer</p>
		</div>
	</main>
</BaseLayout>
