---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
// import mattSteeleIllustrated from "../assets/images/mattsteele-illustrated.png";
import EmailIcon from "../assets/svgs/email.svg";
import LaptopIcon from "../assets/svgs/laptop.svg";
import PrintIcon from "../assets/svgs/print.svg";
---

<BaseLayout title="Resume | Matt Steele" description="Resume Matt Steele">
	<div class="flex dark:text-white">
		<!-- Sidebar -->
		<aside class="hidden md:block bg-slate-500 w-1/5 p-6 print:hidden">
			<div class="flex justify-self-end pt-4 pr-6">
				<button
					class="text-white hover:text-gray-300 hover:cursor-pointer"
					onclick="handlePrint()"
				>
					<PrintIcon
						width="28px"
						height="28px"
						fill="white"
						aria-label="Print Resume"
					/>
				</button>
			</div>
		</aside>

		<!-- Main Content -->
		<div class="mt-12 flex-1">
			<header class="mx-20">
				<div class="flex items-center mb-6">
					<!-- <div class="mr-8">
						<Image
							src={mattSteeleIllustrated}
							width="150"
							height="150"
							alt="Matt Steele Illustration"
							class="rounded-full border-4"
						/>
					</div> -->
					<div>
						<h1 class="text-5xl font-bold">Matt Steele</h1>
						<p class="text-xl mt-2">
							<span>Senior Software Engineer</span>
							<span class="mx-2" aria-hidden="true">·</span>
							<span>Denver, CO</span>
						</p>
						<div class="flex items-center my-6 space-x-6">
							<a
								aria-label="Email"
								href="mailto:mattsteele@outlook.com"
								class="flex items-center hover:underline"
							>
								<EmailIcon width="20px" height="20px" fill="white" />
								<span class="ml-2">mattsteele@outlook.com</span>
							</a>
							<a
								aria-label="Website"
								href="https://mattsteele.dev"
								class="flex items-center hover:underline"
							>
								<LaptopIcon width="20px" height="20px" fill="white" />
								<span class="ml-2">mattsteele.dev</span>
							</a>
						</div>
					</div>
				</div>
			</header>

			<main class="mx-8 md:mx-20">
				<section class="mb-12 space-y-2 max-w-5xl">
					<h2 class="text-3xl font-bold mb-6">About</h2>
					<hr class="border-gray-300 mb-4" />
					<p class="text-lg leading-relaxed">
						A Software Engineer with over a decade of experience building
						scalable web applications, design systems, and developer tools. I
						specialize in enhancing developer experience (DX) and streamlining
						workflows through innovative tooling, libraries, and modern
						JavaScript frameworks like React and Angular, with a strong focus on
						front-end architecture and seamless API integration.
					</p>
					<p class="text-lg leading-relaxed">
						My expertise lies in crafting intuitive, user-centric interfaces
						while ensuring accessibility, maintainability, and adherence to best
						practices in software development.
					</p>
				</section>

				<section class="mb-12 space-y-2 max-w-5xl">
					<h2 class="text-3xl font-bold mb-6">Work Experience</h2>
					<hr class="border-gray-300 mb-4" />
					<ol
						class="relative
							pl-4
							space-y-8
							before:absolute
							before:block
							before:w-px
							before:bg-gradient-to-b
							before:from-gray-500
							before:via-gray-400
							before:to-transparent
							before:top-10
							before:left-4
							before:bottom-10"
					>
						<li
							class="relative
							pl-8
							before:absolute
							before:block
							before:w-2.5
							before:h-2.5
							before:rounded-full
							before:bg-[var(--color-rose-700)]
							before:top-10
							before:left-0
							before:translate-x-[-50%]
							dark:before:bg-[var(--color-gray-400)]"
						>
							<article>
								<div class="mb-4">
									<p class="text-gray-500 tracking-wider mb-1 dark:text-white">
										<time class="text-sm" datetime="2017-10-01">10/2020</time>
										<span class="text-smuppercase mx-1">–</span>
										<span class="text-sm uppercase">Present</span>
									</p>
									<h3 class="text-2xl font-semibold pb-1">
										Senior Software Engineer - Design Systems
									</h3>

									<p class="text-sm dark:text-white">
										<a
											href="https://www.spectrum.net"
											target="_blank"
											rel="noopener noreferrer"
											class="text-gray-800 hover:underline dark:text-white"
										>
											Charter Communications
										</a>
										<span class="mx-1" aria-hidden="true">·</span>
										<span>Denver, CO</span>
									</p>
								</div>
								<p class="text-lg leading-relaxed">
									My current work centers on enhancing Developer Experience (DX)
									by managing a scalable design system that ensures consistent
									and accessible interfaces. I prioritize creating detailed
									documentation, fostering team collaboration, and developing
									tools and libraries that simplify workflows. I leverage modern
									frameworks like Angular and React to drive scalability and
									efficiency.
								</p>
							</article>
						</li>
						<li
							class="relative
							pl-8
							before:absolute
							before:block
							before:w-2.5
							before:h-2.5
							before:rounded-full
							before:bg-[var(--color-rose-700)]
							before:top-10
							before:left-0
							before:translate-x-[-50%]
							dark:before:bg-[var(--color-gray-400)]"
						>
							<article>
								<div class="mb-4">
									<p class="text-gray-500 tracking-wider mb-1 dark:text-white">
										<time class="text-sm" datetime="2017-10-01">10/2017</time>
										<span class="text-sm uppercase mx-1">–</span>
										<span class="text-sm uppercase">10/2020</span>
									</p>
									<h3 class="text-2xl font-semibold pb-1">
										Senior Software Engineer - Prototyping
									</h3>

									<p class="text-sm dark:text-white">
										<a
											href="https://www.spectrum.net"
											target="_blank"
											rel="noopener noreferrer"
											class="text-gray-800 hover:underline dark:text-white"
										>
											Charter Communications
										</a>
										<span class="mx-1" aria-hidden="true">·</span>
										<span>Denver, CO</span>
									</p>
								</div>
								<p class="text-lg leading-relaxed">
									Developed and implemented prototypes and proof of concept
									(POC) projects using Vue and Angular to test innovative ideas
									and validate technical feasibility. Collaborated with
									cross-functional teams to gather requirements, conduct
									research, and deliver functional designs. Focused on creating
									intuitive user experiences while ensuring thorough
									accessibility testing and performance optimization across
									various devices and platforms.
								</p>
							</article>
						</li>
						<li
							class="relative
							pl-8
							before:absolute
							before:block
							before:w-2.5
							before:h-2.5
							before:rounded-full
							before:bg-[var(--color-rose-700)]
							before:top-10
							before:left-0
							before:translate-x-[-50%]
							dark:before:bg-[var(--color-gray-400)]"
						>
							<article>
								<div class="mb-4">
									<p class="text-gray-500 tracking-wider mb-1 dark:text-white">
										<time class="text-sm" datetime="2016-05-01">05/2016</time>
										<span class="text-sm mx-1">–</span>
										<time class="text-sm" datetime="2017-10-01">10/2017</time>
									</p>
									<h3 class="text-2xl font-semibold pb-1">
										Senior Web Developer
									</h3>

									<p class="text-sm dark:text-white">
										<a
											href="https://clover.partners/"
											target="_blank"
											rel="noopener noreferrer"
											class="text-gray-800 hover:underline dark:text-white"
										>
											Clover Partners
										</a>
										<span class="mx-1" aria-hidden="true">·</span>
										<span>Denver, CO</span>
									</p>
								</div>
								<p class="text-lg leading-relaxed">
									Engineered custom client-facing applications utilizing
									JavaScript and PHP, seamlessly integrated with Craft and
									Statamic CMS platforms. Collaborated closely with clients to
									translate custom designs and workflows into functional,
									user-centric solutions. Delivered tailored eCommerce
									platforms, optimizing payment systems and enhancing user
									experiences to drive engagement and conversions.
								</p>
							</article>
						</li>
					</ol>
				</section>

				<section class="mb-10 space-y-2 max-w-5xl">
					<h2 class="text-3xl font-bold mb-6">Education</h2>
					<hr class="border-gray-300 mb-4" />
					<ol class="space-y-6">
						<li>
							<article>
								<div>
									<h3 class="text-2xl font-semibold pb-1">
										Bachelor of Fine Arts
									</h3>
									<p class="text-sm dark:text-white">
										<a
											href="https://www.academyart.edu/"
											target="_blank"
											rel="noopener noreferrer"
											class="text-gray-800 hover:underline dark:text-white"
										>
											Academy of Art University
										</a>
										<span class="mx-1" aria-hidden="true">·</span>
										<span>San Francisco, CA</span>
									</p>
								</div>
							</article>
						</li>
					</ol>
				</section>
			</main>
			<footer class="bg-gray-800 p-10">
				<p class="text-white">Last updated: 4.4.2025</p>
			</footer>
		</div>
	</div>
</BaseLayout>

<script is:inline>
	function handlePrint() {
		window.print();
	}
</script>
