---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("work")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Work | Matt Steele"
	description="Matt Steele's most recent work"
>
	<div class="m-16 stack gap-20">
		<main class="wrapper stack gap-8">
			<div class="note">
				<p>
					<b>Note:</b> My work for the past few years has been in JavaScript-based
					application prototyping. Prototyping is, by its very nature, experimental;
					design ideas that are tested &amp; iterated upon. That work is proprietary
					&amp; cannot be shared publicly. Below is earlier work.
				</p>
			</div><!--- .note -->
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
	</div>
</BaseLayout>
