---
import ExternalLink from "../assets/svgs/external-link.svg";
---

<footer class="flex flex-col w-full">
	<div class="bg-red-400 relative">
		<a
			class="flex w-full justify-center text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="/"
			rel="noopener noreferrer"
			>Home
			<span
				class="bg-gray-300 absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>

	<div class="bg-rose-700 relative">
		<a
			class="flex w-full justify-center text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="/about"
			rel="noopener noreferrer"
			>About
			<span
				class="bg-gray-300 absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>

	<div class="bg-slate-500 relative">
		<a
			class="flex w-full justify-center text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="/resume"
			rel="noopener noreferrer"
			>Work
			<span
				class="bg-gray-300 absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>

	<div class="bg-slate-800 relative">
		<a
			class="flex w-full justify-center text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="https://www.LinkedIn.com/in/mattwsteele"
			rel="noopener noreferrer"
			>LinkedIn
			<ExternalLink
				class="self-start pt-0.5 max-w-3"
				width="12px"
				height="12px"
				fill="white"
			/>
			<span
				class="bg-red-one absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>

	<div class="bg-stone-300 relative">
		<a
			class="flex w-full justify-center text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="https://westerncode.com"
			rel="noopener noreferrer"
			>Western Code
			<ExternalLink
				class="self-start pt-0.5 max-w-3"
				width="12px"
				height="12px"
				fill="white"
			/>
			<span
				class="bg-red-one absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>
</footer>
