---
import ExternalLinkIcon from "../assets/svgs/external-link.svg";
---

<footer class="flex flex-col w-full">
	<div class="bg-rose-300 dark:bg-gray-400 relative">
		<a
			class="flex w-full justify-center text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="/"
			>Home
			<span
				class="bg-gray-300 absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>

	<div class="bg-rose-700 dark:bg-gray-500 relative">
		<a
			class="flex w-full justify-center text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="/about"
			>About
			<span
				class="bg-gray-300 absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>

	<div class="bg-neutral-100 dark:bg-gray-600 relative">
		<a
			class="flex w-full justify-center text-slate-500 dark:text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="/work"
			>Work
			<span
				class="bg-gray-300 absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>

	<div class="bg-neutral-400 dark:bg-gray-700 relative">
		<a
			class="flex w-full justify-center text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="https://github.com/mattsteele"
			>GitHub
			<ExternalLinkIcon
				class="pb-1 max-w-3"
				width="22px"
				height="22px"
				fill="white"
			/>
			<span
				class="bg-gray-300 absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>

	<div class="bg-slate-500 dark:bg-gray-800 relative">
		<a
			class="flex w-full justify-center text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="https://www.LinkedIn.com/in/mattwsteele"
			>LinkedIn
			<ExternalLinkIcon
				class="pb-1 max-w-3"
				width="22px"
				height="22px"
				fill="white"
			/>
			<span
				class="bg-red-one absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>

	<div class="bg-slate-700 dark:bg-gray-900 relative">
		<a
			class="flex w-full justify-center text-white py-2 uppercase items-center no-underline hover:*:w-full"
			href="https://westerncode.com"
			>Western Code
			<ExternalLinkIcon
				class="pb-1 max-w-3"
				width="16px"
				height="16px"
				fill="white"
			/>
			<span
				class="bg-red-one absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400"
			></span>
		</a>
	</div>
</footer>
