---
interface Props {
	title: string;
	tagline?: string;
	align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<div
	class={`hero stack gap-4 ${align === "start" ? "text-left" : "text-center"}`}
>
	<div class="stack gap-2">
		<h1 class="text-3xl md:text-5xl text-gray-100 max-w-[37ch] mx-auto">
			{title}
		</h1>
		{tagline && <p class="text-lg max-w-[37ch] mx-auto">{tagline}</p>}
	</div>
	<slot />
</div>
