---
import ThemeToggle from "./ThemeToggle.astro";
import TerminalWindow from "../assets/svgs/terminal-window.svg";

/** Main menu items */
const textLinks = [
	{ label: "About", href: "/about/" },
	{ label: "Work", href: "/work/" },
];

/** Test if a link is pointing to the current page. */
const isCurrentPage = (href: string) => {
	let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
	if (!pathname.startsWith("/")) pathname = "/" + pathname;
	if (!pathname.endsWith("/")) pathname += "/";
	return pathname === href || (href !== "/" && pathname.startsWith(href));
};
---

<nav class="flex justify-between p-2 border-b-1 border-gray-300 print:hidden">
	<div class="self-start px-4">
		<a href="/" aria-label="Link to home page">
			<span class="sr-only">Matt Steele</span>
			<TerminalWindow
				class="text-gray-800 hover:text-rose-700 dark:text-white dark:hover:text-gray-300"
				width="36px"
				height="36px"
			/>
		</a>
	</div>

	<div id="menu-content" class="w-3xs self-end flex">
		<div class="grow-2 flex items-center space-between">
			<ul class="w-full flex justify-between">
				{
					textLinks.map(({ label, href }) => (
						<li>
							<a
								aria-current={isCurrentPage(href) ? "page" : null}
								class="hover:*:w-full hover:text-rose-700 dark:hover:text-gray-300 relative pb-4 px-1"
								href={href}
							>
								{label}
								{isCurrentPage(href) && (
									<span class="bg-rose-700 absolute bottom-0 left-0 block w-full h-1 dark:bg-gray-300" />
								)}
								<span class="bg-rose-700 absolute bottom-0 left-0 block w-0 h-1 transparent transition-width duration-400 dark:bg-gray-300" />
							</a>
						</li>
					))
				}
			</ul>
		</div>

		<div class="ml-8 pr-8 pl-8 self-end border-l-1 border-gray-300">
			<ThemeToggle />
		</div>
	</div>
</nav>
