---
import type { CollectionEntry } from "astro:content";

interface Props {
	project: CollectionEntry<"work">;
}

const { data, id } = Astro.props.project;
---

<a class="listing-item flex flex-col group" href={`/work/${id}`}>
	<h2 class="title font-black text-4xl py-4 group-hover:text-rose-700">
		{data.title}
	</h2>
	<img
		class="group-hover:opacity-75"
		src={data.img}
		alt={data.img_alt || ""}
		loading="lazy"
		decoding="async"
	/>
</a>
