---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
	project: CollectionEntry<"work">;
}

const { data, id } = Astro.props.project;
---

<a
	class="group flex flex-col border-2 border-transparent p-2 hover:border-rose-700 md:p-8 dark:hover:border-gray-300"
	href={`/work/${id}/`}
>
	<h2
		class="my-4 text-center text-xl font-black md:my-9 md:text-4xl dark:text-white"
	>
		{data.title}
	</h2>
	<Image
		class="max-w-251.5 group-hover:opacity-75"
		src={data.img}
		alt={data.img_alt}
		widths={[400, 640, 800, 1006]}
		sizes="(max-width: 768px) 100vw, 1006px"
		format="webp"
		quality={85}
	/>
</a>
