---
import type { CollectionEntry } from "astro:content";

interface Props {
	project: CollectionEntry<"work">;
}

const { data, id } = Astro.props.project;
---

<a
	class="listing-item flex flex-col group p-2 md:p-8 border-2 border-transparent hover:border-2 hover:border-rose-700 dark:hover:border-gray-300"
	href={`/work/${id}`}
>
	<h2 class="title font-black md:text-4xl text-xl py-4">
		{data.title}
	</h2>
	<img
		class="group-hover:opacity-75"
		src={data.img}
		alt={data.img_alt || ""}
		loading="lazy"
		decoding="async"
	/>
</a>
