---
import Sun from "../assets/svgs/sun.svg";
import MoonStars from "../assets/svgs/moon-stars.svg";
---

<theme-toggle>
	<button
		class="text-gray-800 hover:text-rose-700 dark:text-white dark:hover:text-gray-300 hover:cursor-pointer"
	>
		<span class="sr-only">Dark theme</span>
		<span class="hidden dark:block">
			<Sun width="28px" height="28px" />
		</span>

		<span class="dark:hidden">
			<MoonStars width="28px" height="28px" />
		</span>
	</button>
</theme-toggle>

<script>
	class ThemeToggle extends HTMLElement {
		constructor() {
			super();
			if (typeof window === "undefined") return;
			const button = this.querySelector("button");
			const setTheme = (dark: boolean) => {
				document.documentElement.classList[dark ? "add" : "remove"]("dark");
				localStorage.setItem("theme", dark ? "dark" : "light");
			};
			if (button) {
				button.addEventListener("click", () => setTheme(!this.isDark()));
			}
			setTheme(this.isDark());
		}
		isDark() {
			return document.documentElement.classList.contains("dark");
		}
	}
	customElements.define("theme-toggle", ThemeToggle);
</script>
