---
import Sun from "@/assets/svgs/sun.svg";
import MoonStars from "@/assets/svgs/moon-stars.svg";
---

<theme-toggle>
	<button
		type="button"
		class="rounded text-gray-800 hover:cursor-pointer hover:text-rose-700 focus:ring-2 focus:ring-rose-600 focus:outline-none dark:text-white dark:hover:text-gray-300 dark:focus:ring-gray-300"
		aria-label="Toggle between light and dark mode"
	>
		<span class="hidden dark:block" aria-hidden="true">
			<Sun width="28px" height="28px" />
		</span>

		<span class="dark:hidden" aria-hidden="true">
			<MoonStars width="28px" height="28px" />
		</span>
	</button>
</theme-toggle>

<script>
	class ThemeToggle extends HTMLElement {
		constructor() {
			super();
			const button = this.querySelector("button");

			const applyTheme = (theme: string) => {
				document.documentElement.classList.remove("dark", "light");
				document.documentElement.classList.add(theme);
				document.documentElement.setAttribute("data-theme", theme);
				localStorage.setItem("theme", theme);
			};

			if (button) {
				button.addEventListener("click", () => {
					const currentTheme = document.documentElement.classList.contains(
						"dark",
					)
						? "dark"
						: "light";
					applyTheme(currentTheme === "dark" ? "light" : "dark");
				});
			}
		}
	}

	customElements.define("theme-toggle", ThemeToggle);
</script>
