@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility btn-gradient {
	background-image: linear-gradient(to left, transparent, transparent 50%, theme(colors.rose.600) 50%, theme(colors.rose.600));
	background-position: 99% 0;
	background-size: 205% 100%;
	transition: all 0.25s ease-in-out;
	
	&:hover {
		background-position: 0 0;
	}
}

@media print {
	p,
	p > a,
	p > a > span,
	a > span,
	h2,
	h3,
	ul > li {
		color: black;
	}
	svg {
		display: none;
	}
}
